*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow: hidden;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

:root{
    --bg-color: rgb(23, 20, 20);
    --text-color: white;
    --second-text-color: rgb(35, 151, 15);
}

.body{
    background: var(--bg-color);
    /* color: var(--text-color); */
}

section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(125deg, black, rgb(115, 84, 84));
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}

.home h2{
    font-size: 4rem;
    color: orange;
}

.home-container{
    max-width: 100vw;
    width: 24rem;
    height: 31.2rem;
    margin: 2rem 2rem 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 1rem rgb(189, 119, 11, 0.8);
}

.home-container input{
    width: 22rem;
    height: 3rem;
    margin: 1rem 1rem 0 1rem;
    font-size: 2rem;
    background-color: transparent;
    text-align: end;
    border: .01rem solid black;
    border-radius: 2rem;
    padding: 0 1rem 0 0;
    color: white;
}

.btns-row1  button{
    width: 3.4rem;
    margin: 2rem 1rem 1rem 1.3rem;
    font-size: 1rem;
    background-color: transparent;
    overflow: hidden;
    border-radius: 50%;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 .6rem .001rem rgb(11, 5, 5);
    justify-content: space-between;
    cursor: pointer;
    color: white;
    font-weight: 900;
}

.btns-row2  button{
    width: 3.4rem;
    margin: 1rem 1rem 1rem 1.3rem;
    font-size: 1.2rem;
    background-color: transparent;
    overflow: hidden;
    border-radius: 50%;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 .6rem .001rem rgb(11, 5, 5);
    justify-content: space-between;
    cursor: pointer;
    color: white;
    font-weight: 900;
}

.btns-row3  button{
    width: 3.4rem;
    margin: 1rem 1rem 1rem 1.3rem;
    font-size: 1.2rem;
    background-color: transparent;
    overflow: hidden;
    border-radius: 50%;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 .6rem .001rem rgb(11, 5, 5);
    justify-content: space-between;
    cursor: pointer;
    color: white;
    font-weight: 900;
}

.btns-row4  button{
    width: 3.4rem;
    margin: 1rem 1rem 1rem 1.3rem;
    font-size: 1.2rem;
    background-color: transparent;
    overflow: hidden;
    border-radius: 50%;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 .6rem .001rem rgb(11, 5, 5);
    justify-content: space-between;
    cursor: pointer;
    color: white;
    font-weight: 900;
}

.btns-row5  button{
    width: 3.4rem;
    margin: 1rem 1rem 1rem 1.3rem;
    font-size: 1.2rem;
    background-color: transparent;
    overflow: hidden;
    border-radius: 50%;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 .6rem .001rem rgb(11, 5, 5);
    justify-content: space-between;
    cursor: pointer;
    color: white;
    font-weight: 900;
}

#equal-to{
    background-color: rgb(224, 7, 7);
}

.btns .operator{
    color: chartreuse;
}


/* Breakpoints */

@media (max-width:745px){
    #home{
        display: block;
        justify-content: center;
        align-items: center;
        padding: .5rem 0 0 0;
    }

    .heading{
        justify-content: center;
        text-align: center;
    }

    .heading h2{
        font-size: 3rem;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-container{
        height: 30rem;
    }

    .btns-row1 button{
        margin: 1.5rem 1rem 1rem 1.3rem;
        font-size: 1rem;
    }

    .btns-row2 button{
        font-size: 1rem;
    }

    .btns-row3 button{
        font-size: 1rem;
    }

    .btns-row4 button{
        font-size: 1rem;
    }

    .btns-row5 button{
        font-size: 1rem;
    }

}

@media (max-width: 450px){
    .heading{
        justify-content: center;
        text-align: center;
    }

    .heading h2{
        font-size: 2.5rem;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-container{
        width: 20rem;
        height: 30rem;
    }

    .home-container input{
        width: 18rem;
        border: .01rem solid white;
    }

    .btns-row1 button{
        margin: 1.5rem .5rem .7rem .7rem;
        font-size: 1rem;
    }

    .btns-row2 button{
        margin: 1rem .5rem .8rem .7rem;
        font-size: 1rem;
    }

    .btns-row3 button{
        margin: 1rem .5rem .8rem .7rem;
        font-size: 1rem;
    }

    .btns-row4 button{
        margin: 1rem .5rem .8rem .7rem;
        font-size: 1rem;
    }

    .btns-row5 button{
        margin: 1rem .5rem .8rem .7rem;
        font-size: 1rem;
    }
}

@media (max-width: 390px){
    .heading{
        justify-content: center;
        text-align: center;
    }

    .heading h2{
        font-size: 2rem;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-container{
        width: 20rem;
        height: 30rem;
    }

    .home-container input{
        width: 16rem;
        border: .01rem solid white;
    }

    .btns-row1 button{
        margin: 1.5rem .3rem .7rem .5rem;
        font-size: 1rem;
    }

    .btns-row2 button{
        margin: 1rem .3rem .8rem .5rem;
        font-size: 1rem;
    }

    .btns-row3 button{
        margin: 1rem .3rem .8rem .5rem;
        font-size: 1rem;
    }

    .btns-row4 button{
        margin: 1rem .3rem .8rem .5rem;
        font-size: 1rem;
    }

    .btns-row5 button{
        margin: 1rem .3rem .8rem .5rem;
        font-size: 1rem;
    }
}